<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:include="fragments/header :: headerFragment">
</head>

<!--<body data-animation-in="fadeIn"  data-animation-out="fadeOut" data-icon="12" data-icon-color="#76aa00" data-speed-in="1000" data-speed-out="500">-->
<body>

<!-- Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/header :: topbar"></div>
    <div th:replace="fragments/header :: header"></div>

    <!-- Section -->
    <section class="p-t-20">
        <div class="container">

            <!--Panel with tables-->
            <!--<div class="hr-title hr-long center"><abbr>Катталгандар</abbr>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12">
                    <form id="searchForm" action="#" th:action="@{/gift/gift-needed}" th:object="${accountSearchDto}" method="get" class="form-inline text-center" _lpchecked="1">
                        <div class="form-group col-md-3">
                            <label class="sr-only">Аты жөнү</label>
                            <input th:field="*{fullname}" type="text" placeholder="Аты жөнү" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="sr-only">Регион</label>
                            <select class="search-region" th:field="*{regionId}">
                                <option th:selected="*{regionId == null}" value="" selected>Регион</option>
                                <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}" th:selected="${region.id == regionId}"></option>
                            </select>
                        </div>
                        <input id="size" type="hidden" name="size" th:value="${accounts.size}">
                        <input id="page" type="hidden" name="page" th:value="${accounts.number}">
                        <button class="btn btn-default" type="submit">Издөө</button>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Тизмеси</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>N:</th>
                                <th>Аты жөнү</th>
                                <th>Катталган күнү</th>
                                <th>Тел номуру:</th>
                                <th>Баскычы</th>
                                <th>Белектери</th>
                                <th>Башкаруу</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="account, iter : ${accounts.content}">
                                <td th:text="${iter.index + 1}">Number</td>
                                <td th:text="${account.fullname}">Fullname</td>
                                <td th:text="${#temporals.format(account.registeredDate, 'dd.MM.yyyy')}">date</td>
                                <td th:text="${account.phoneNumber}">Phone number</td>
                                <td th:text="${account.level}">level</td>
                                <td th:text="${account.giftsGiven}">Gifts given</td>
                                <td>
                                    <a type="button" class="btn btn-info" th:href="@{'/account/info/' + ${account.id}}">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    <a type="button" class="btn btn-success" th:href="@{'/gift/getGiftCreateForm/' + ${account.id}}">
                                        <i class="fa fa-gift"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div th:with="pglst=${accounts}" th:insert="fragments/search-and-page::pagination"></div>
                </div>


            </div>
            <!--END: Panel with tables-->
            <hr class="space">


        </div>
    </section>
    <!-- end: Section -->

    <div th:replace="fragments/footer :: footer"></div>

</div>    <!-- end: Wrapper -->

<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

<!--Plugins-->
<div th:replace="fragments/footer :: scripts"></div>
<div th:insert="fragments/search-and-page::script"></div>

<link th:href="@{/lib/select2/css/select2.min.css}" rel="stylesheet" />
<script th:src="@{/lib/select2/js/select2.min.js}"></script>
<script th:src="@{/lib/select2/js/i18n/ru.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    jQuery().ready(function(){
        $('.search-region').select2({
            tags: false,
            multiple: false,
            tokenSeparators: [',', ' '],
            language: "ru",
            allowClear: true,
            placeholder: "Статус"
        });
    });
    /*]]>*/
</script>


</body>
</html>
