<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:include="fragments/header :: headerFragment">
</head>

<!--<body data-animation-in="fadeIn"  data-animation-out="fadeOut" data-icon="12" data-icon-color="#76aa00" data-speed-in="1000" data-speed-out="500">-->
<body>

<!-- Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/header :: topbar"></div>
    <div th:replace="fragments/header :: header"></div>

    <!-- Section -->
    <section class="p-t-20">
        <div class="container">

            <div class="row">
                <a th:href="@{/user/getUserCreateForm}" class="btn btn-rounded float-right">Жаны</a>
            </div>

            <!--Panel with tables-->
            <!--<div class="hr-title hr-long center"><abbr>Катталгандар</abbr>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12">
                    <form id="searchForm" action="#" th:action="@{/user/list}" method="get" class="form-inline text-center" _lpchecked="1">
                        <div class="form-group col-md-3">
                            <label class="sr-only">Колдонуучу аты</label>
                            <input name="username" th:value="${username}" type="text" placeholder="Колдонуучу аты" class="form-control">
                        </div>
                        <input id="size" type="hidden" name="size" th:value="${users.size}">
                        <input id="page" type="hidden" name="page" th:value="${users.number}">
                        <button class="btn btn-default" type="submit">Издөө</button>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Тизмеси</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>N:</th>
                                <th>Колдонуучу аты</th>
                                <th>Ролу</th>
                                <th>Кимге байланган</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, iter : ${users.content}">
                                <td th:text="${iter.index + 1}">Number</td>
                                <td th:text="${user.username}">Username</td>
                                <td th:if="${user.roleName == 'ADMIN'}">Администратор</td>
                                <td th:if="${user.roleName == 'OPERATOR'}">Оператор</td>
                                <td th:if="${user.roleName == 'MEMBER'}">Жөнөкөй колдонуучу</td>
                                <td th:text="${user.accountFullname}">Account Name</td>
                                <td>
                                    <a th:if="${#authorization.expression('hasAuthority(''USER_UPDATE_ALL'')') OR user.roleName == 'MEMBER'}"
                                       type="button" class="btn btn-light" th:href="@{'/user/getUserUpdateForm/' + ${user.id}}">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <a th:if="${#authorization.expression('hasAuthority(''USER_DELETE_ALL'')') OR user.roleName == 'MEMBER'}"
                                       type="button" class="btn btn-red" th:href="@{'/user/delete/' + ${user.id}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:with="pglst=${users}" th:insert="fragments/search-and-page::pagination"></div>
                </div>


            </div>
            <!--END: Panel with tables-->
            <hr class="space">


        </div>
    </section>
    <!-- end: Section -->

    <div th:replace="fragments/footer :: footer"></div>

</div>    <!-- end: Wrapper -->

<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

<!--Plugins-->
<div th:replace="fragments/footer :: scripts"></div>

<div th:insert="fragments/search-and-page::script"></div>

</body>
</html>
