<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Kyrgyz Oimoloru"> <!-- Document title --> <title>Kyrgyz Oimoloru</title> <!-- Stylesheets & Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800"

    <link th:href="@{/css/plugins.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
</head>

<body>


<!-- Wrapper -->
<div id="wrapper">


    <div th:replace="fragments/header :: topbar"></div>
    <div th:replace="fragments/header :: header"></div>

    <!-- Section -->
    <!--<section class="fullscreen" th:style="'background-image:url(' + @{/images/pages/1.jpg} + '); overflow: scroll'">-->
    <section class="fullscreen p-t-10" style="background-color: #F0F2F2">
        <div class="container container-fullscreen">
            <div class="text-middle">
                <!--<div class="text-center m-b-30">-->
                    <!--<a href="index.html" class="logo">-->
                        <!--<img th:src="@{/images/logo-toshok.png}" alt="Polo Logo">-->
                    <!--</a>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-md-4 center p-30 background-white b-r-6">
                        <form action="#" th:action="@{/user/update}" th:object="${userUpdateForm}" th:method="post" class="form-transparent-grey">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Каттоо</h3>
                                    <!--<p>Create an user by entering the information below. If you are a returning-->
                                    <!--customer please login at the top of the page.</p>-->
                                </div>
                                <input th:field="*{id}" type="hidden" >

                                <div class="col-md-12 form-group">
                                    <label class="sr-only">Кимдин колдонуучусу</label>
                                    <select th:field="*{accountId}">
                                        <option value="" selected>Кимдин колдонуучусу</option>
                                        <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.fullname}"></option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="sr-only">Колдонуучу аты/Тел номуру</label>
                                    <input th:field="*{username}" type="text" value="" placeholder="Аты жөнү" class="form-control input-lg" th:required>
                                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-red">Username can't be blank</span>
                                </div>
                                <div sec:authorize="hasAuthority('USER_UPDATE_ALL')" class="col-md-12 form-group">
                                    <label class="sr-only">Роль</label>
                                    <select th:field="*{roleId}">
                                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}" class="text-red">Role should be selected</span>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="sr-only">Сырсөз</label>
                                    <input id="password" th:field="*{password}" type="password" value="" placeholder="Сырсөз" class="form-control input-lg">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="sr-only">Сырсөздү кайталоо</label>
                                    <input id="confirm_password" type="password" value="" placeholder="Сырсөздү кайталоо" class="form-control input-lg">
                                </div>

                                <div class="col-md-12 form-group">
                                    <button id="submit_button" class="btn btn-default" type="submit">Сактоо</button>
                                    <a th:href="@{/user/list}" class="btn btn-danger m-l-10">Жокко чыгаруу</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Section -->
    <div th:replace="fragments/footer :: footer"></div>

</div>
<!-- end: Wrapper -->

<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a><!--Plugins-->
<!--Plugins-->
<div th:replace="fragments/footer :: scripts"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    jQuery().ready(function(){

        $('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#confirm_password').parent().removeClass("has-error").addClass('has-success');
                $('#submit_button').prop('disabled', false);
            } else{
                $('#confirm_password').parent().removeClass("has-success").addClass('has-error');
                $('#submit_button').prop('disabled', true);
            }
        });
    });
    /*]]>*/
</script>


</body>

</html>
