<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:include="fragments/header :: headerFragment">
</head>

<!--<body data-animation-in="fadeIn"  data-animation-out="fadeOut" data-icon="12" data-icon-color="#76aa00" data-speed-in="1000" data-speed-out="500">-->
<body>

<!-- Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/header :: topbar"></div>
    <div th:replace="fragments/header :: header"></div>

    <!-- Section -->
    <section class="p-t-20">
        <div class="container">

            <!--<div class="row">-->
                <!--<a th:href="@{/account/getAccountCreateForm}" class="btn btn-rounded float-right">Жаны</a>-->
            <!--</div>-->

            <!--Panel with tables-->
            <!--<div class="hr-title hr-long center"><abbr>Катталгандар</abbr>-->
            <!--</div>-->
            <div class="row">

                <div class="col-md-12">
                    <form id="searchForm" action="#" th:action="@{/account/list}" th:object="${accountSearchDto}" method="get" class="form-inline text-center" _lpchecked="1">
                        <div class="form-group col-md-3">
                            <label class="sr-only">Аты жөнү</label>
                            <input th:field="*{fullname}" type="text" placeholder="Аты жөнү" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label class="sr-only">Статусу</label>
                            <select class="search-status" th:field="*{status}">
                                <option th:selected="*{status == null}" value="" selected>Cтатус</option>
                                <option th:each="st : ${statuses}" th:value="${st}" th:text="${st.kyrName}" th:selected="${st == status}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="sr-only">Регион</label>
                            <select class="search-region" th:field="*{regionId}">
                                <option th:selected="*{regionId == null}" value="" selected>Регион</option>
                                <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}" th:selected="${region.id == regionId}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="sr-only">Баскычы</label>
                            <select class="search-level" th:field="*{level}">
                                <option th:selected="*{level == null}" value="">Баскычы</option>
                                <option value="1" selected>Биринчи</option>
                                <option value="2" selected>Экинчи</option>
                                <option value="3" selected>Үчүнчү</option>
                                <option value="4" selected>Төртүнчү</option>
                                <option value="5" selected>Бешинчи</option>
                            </select>
                        </div>
                        <input id="size" type="hidden" name="size" th:value="${accounts.size}">
                        <input id="page" type="hidden" name="page" th:value="${accounts.number}">
                        <button class="btn btn-default" type="submit">Издөө</button>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Тизмеси
                                <span th:text="${accounts.totalElements}" class="float-right"></span>
                            </h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>N:</th>
                                <th>Статусу</th>
                                <th>Аты жөнү</th>
                                <th>Баскычы</th>
                                <th>Тел номуру:</th>
                                <th>Башкаруу</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="account, iter : ${accounts.content}">
                                <td th:text="${iter.index + 1}">Number</td>
                                <td th:text="${account.status.kyrName}">Fullname</td>
                                <td th:text="${account.fullname}">Fullname</td>
                                <td th:text="${account.level}">Region</td>
                                <td th:text="${account.phoneNumber}">Phone number</td>
                                <td>
                                    <a type="button" class="btn btn-info" th:href="@{'/account/info/' + ${account.id}}">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    <a th:if="${#authorization.expression('hasAuthority(''ACCOUNT_UPDATE_APPROVED'')') or account.status != T(kg.enesai.toshok.enums.AccountStatus).APPROVED}"
                                            type="button" class="btn btn-light" th:href="@{'/account/getAccountUpdateForm/' + ${account.id}}" >
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <a th:if="${#authorization.expression('hasAuthority(''ACCOUNT_DELETE_APPROVED'')') or account.status != T(kg.enesai.toshok.enums.AccountStatus).APPROVED}"
                                       type="button" class="btn btn-red" th:href="@{'/account/delete/' + ${account.id}}" onclick="return confirm('Өчүрүүгө макулсузбу?')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div th:with="pglst=${accounts}" th:insert="fragments/search-and-page::pagination"></div>
                </div>


            </div>
            <!--END: Panel with tables-->
            <hr class="space">

        </div>
    </section>
    <!-- end: Section -->

    <div th:replace="fragments/footer :: footer"></div>

</div>    <!-- end: Wrapper -->

<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

<!--Plugins-->
<div th:replace="fragments/footer :: scripts"></div>

<div th:insert="fragments/search-and-page::script"></div>

<link th:href="@{/lib/select2/css/select2.min.css}" rel="stylesheet" />
<script th:src="@{/lib/select2/js/select2.min.js}"></script>
<script th:src="@{/lib/select2/js/i18n/ru.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    jQuery().ready(function(){
        $('.search-status').select2({
            tags: false,
            multiple: false,
            tokenSeparators: [',', ' '],
            language: "ru",
            allowClear: true,
            placeholder: "Статус"
        });
    });
    jQuery().ready(function(){
        $('.search-region').select2({
            tags: false,
            multiple: false,
            tokenSeparators: [',', ' '],
            language: "ru",
            allowClear: true,
            placeholder: "Регион"
        });
    });
    jQuery().ready(function(){
        $('.search-level').select2({
            tags: false,
            multiple: false,
            tokenSeparators: [',', ' '],
            language: "ru",
            allowClear: true,
            placeholder: "Баскыч"
        });
    });
    /*]]>*/
</script>


</body>
</html>
