<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:include="fragments/header :: headerFragment">


</head>

<!--<body data-animation-in="fadeIn"  data-animation-out="fadeOut" data-icon="12" data-icon-color="#76aa00" data-speed-in="1000" data-speed-out="500">-->
<body>
<style type="text/css">
    .panel .table th, .panel .table td {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    #test {
        padding-left: 5px !important;
    }
</style>
<!-- Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/header :: topbar"></div>
    <div th:replace="fragments/header :: header"></div>

    <!-- Section -->
    <section>
        <div class="container-fluid ">

            <!--Panels default-->
            <div class="hr-title hr-long center"><abbr>Каттоо эсеби</abbr>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Эсеп жөнүндө маалымат</div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Статусу</td>
                                <td th:if="${account.status == T(kg.enesai.toshok.enums.AccountStatus).CREATED}">Чек жок</td>
                                <td th:if="${account.status == T(kg.enesai.toshok.enums.AccountStatus).PENDING}">Күтүп жатат</td>
                                <td th:if="${account.status == T(kg.enesai.toshok.enums.AccountStatus).APPROVED}">Тастыкталды</td>
                                <td th:if="${account.status == T(kg.enesai.toshok.enums.AccountStatus).TEMPORARY}">Катаа катталган</td>
                            </tr>
                            <tr>
                                <td id="test">Аты жөнү</td>
                                <td th:text="${account.fullname}">Fullname</td>
                            </tr>
                            <tr>
                                <td>Баскычы</td>
                                <td th:text="${account.level}">Region</td>
                            </tr>
                            <tr>
                                <td>Кимге байланган</td>
                                <td>
                                    <a th:if="${account.parentId != null}" th:href="@{'/account/info/' + ${account.parentId}}">
                                        <span th:text="${account.parentName}">parent</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Тел номуру:</td>
                                <td th:text="${account.phoneNumber}">Phone number</td>
                            </tr>
                            <tr>
                                <td>Дареги:</td>
                                <td th:text="${account.address}">Address</td>
                            </tr>
                            <tr>
                                <td>Регион:</td>
                                <td th:text="${account.regionName}">Address</td>
                            </tr>
                            <tr>
                                <td>Пасспорт Номуру:</td>
                                <td th:text="${account.passportNumber}">Address</td>
                            </tr>
                            <tr>
                                <td>Катталган күнү:</td>
                                <td th:text="${#temporals.format(account.registeredDate, 'dd.MM.yyyy')}">Address</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <img style="width: 300px" th:src="@{'/' + ${account.checkPath}}"/>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Белектин аталышы</th>
                            <th>Белектин баяндамасы</th>
                            <th>Берилген күнү</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="gift, iter : ${gifts}">
                            <td th:text="${gift.name}">Name</td>
                            <td th:text="${gift.description}">Description</td>
                            <td th:text="${#temporals.format(gift.givenDate, 'dd.MM.yyyy')}">Given date</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--END: Panels default-->
            <hr class="space">

            <!--Panel with tables-->
            <div class="hr-title hr-long center"><abbr>Бул эсепке катталгандар</abbr>
            </div>

            <div th:each="child, iter : ${account.children}" th:class="'col-md-' + ${12/account.children.size()}">
                <div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Экинчи тизмедегилер</div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Аты жөнү</th>
                                <th><i class="fa fa-gift"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a th:href="@{'/account/info/' + ${child.id}}">
                                        <span th:text="${child.fullname}">parent</span>
                                    </a>
                                </td>
                                <td th:text="${child.giftsGiven}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="panel panel-info">
                        <div class="panel-heading">Үчүнчү тизмедегилер</div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Аты жөнү</th>
                                <th>Кимге Байланган</th>
                                <th><i class="fa fa-gift"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="child2, iter : ${child.children2}">
                                <td>
                                    <a th:href="@{'/account/info/' + ${child2.id}}">
                                        <span th:text="${child2.fullname}">parent</span>
                                    </a>
                                </td>
                                <td th:text="${child2.parentName}"></td>
                                <td th:text="${child2.giftsGiven}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">Төртүнчү тизмедегилер</div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Аты жөнү</th>
                                <th>Кимге Байланган</th>
                                <th><i class="fa fa-gift"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="child3, iter : ${child.children3}">
                                <td th:text="${iter.index+1}"></td>
                                <td>
                                    <a th:href="@{'/account/info/' + ${child3.id}}">
                                        <span th:text="${child3.fullname}">parent</span>
                                    </a>
                                </td>
                                <td th:text="${child3.parentName}"></td>
                                <td th:text="${child3.giftsGiven}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div >
                    <div class="panel panel-primary">
                        <div class="panel-heading">Бешинчи тизмедегилер</div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Аты жөнү</th>
                                <th>Кимге Байланган</th>
                                <th><i class="fa fa-gift"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="child4, iter : ${child.children4}">
                                <td th:text="${iter.index+1}"></td>
                                <td>
                                    <a th:href="@{'/account/info/' + ${child4.id}}">
                                        <span th:text="${child4.fullname}">parent</span>
                                    </a>
                                </td>
                                <td th:text="${child4.parentName}"></td>
                                <td th:text="${child4.giftsGiven}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
                <!--END: Panel with tables-->
            <hr class="space">


        </div>
    </section>
    <!-- end: Section -->

    <div th:replace="fragments/footer :: footer"></div>

</div>    <!-- end: Wrapper -->

<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

<!--Plugins-->
<div th:replace="fragments/footer :: scripts"></div>

</body>
</html>
