<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:include="fragments/header :: headerFragment">
</head>

<!--<body data-animation-in="fadeIn"  data-animation-out="fadeOut" data-icon="12" data-icon-color="#76aa00" data-speed-in="1000" data-speed-out="500">-->
<body>

<!-- Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/header :: topbar"></div>
    <div th:replace="fragments/header :: header"></div>

    <!-- Section -->
    <section class="p-t-20">
        <div class="container">

            <!--Panel with tables-->
            <!--<div class="hr-title hr-long center"><abbr>Катталгандар</abbr>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12">
                    <form id="searchForm" action="#" th:action="@{/account/approve-list}" th:object="${accountSearchDto}" method="get" class="form-inline text-center" _lpchecked="1">
                        <div class="form-group col-md-3">
                            <label class="sr-only">Аты жөнү</label>
                            <input th:field="*{fullname}" type="text" placeholder="Аты жөнү" class="form-control">
                        </div>
                        <input id="size" type="hidden" name="size" th:value="${accounts.size}">
                        <input id="page" type="hidden" name="page" th:value="${accounts.number}">
                        <button class="btn btn-default" type="submit">Издөө</button>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Тизмеси</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>N:</th>
                                <th>Аты жөнү</th>
                                <th>Катталган күнү</th>
                                <th>Чек но:</th>
                                <th>Чек сурот:</th>
                                <th>Телефон</th>
                                <th>Кимге катталган</th>
                                <th>Башкаруу</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="account, iter : ${accounts.content}">
                                <td th:text="${iter.index + 1}">Number</td>
                                <td th:text="${account.fullname}">Fullname</td>
                                <td th:text="${#temporals.format(account.registeredDate, 'dd.MM.yyyy')}">date</td>
                                <td th:text="${account.checkNumber}">Check Number</td>
                                <td th:with="checkImage=${'<img src=''/' + account.checkPath + '''>'}">
                                    <!--<img style="width: 50px" th:src="@{'/' + ${account.checkPath}}"/>-->
                                    <!--<button data-toggle="popover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right? <iframe src='https://player.vimeo.com/video/56962340?title=0&amp;byline=0&amp;portrait=0' width='500' height='281' frameborder='0'></iframe>" data-original-title="Popover title" aria-describedby="popover741320">Click to toggle popover</button>-->
                                    <button th:if="${account.checkPath != null}" type="button" class="btn btn-sm btn-info" data-toggle="popover" data-placement="right" title="" th:data-content="${checkImage}" >Чек сүрөтү</button>
                                </td>
                                <td th:text="${account.phoneNumber}">Phone number</td>
                                <td th:text="${account.parentName}">Parent name</td>
                                <td>
                                    <button th:if="${account.parentStatus != null && account.parentStatus != 'APPROVED'}"
                                            type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Байланган кишиси тастыктала элек"><i class="fa fa-info"></i></button>
                                    <button th:if="${account.parentStatus != null and account.parentStatus == 'APPROVED' and account.approvedSiblingCount >= 4}"
                                            type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Байланышкан кишисинде 4 кишиси толук."><i class="fa fa-info"></i></button>
                                    <a th:if="${account.parentStatus == null or account.parentStatus == 'APPROVED' or account.approvedSiblingCount < 4}"
                                            type="button" class="btn btn-success" th:href="@{'/account/approve/' + ${account.id}}">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div th:with="pglst=${accounts}" th:insert="fragments/search-and-page::pagination"></div>
                </div>


            </div>
            <!--END: Panel with tables-->
            <hr class="space">


        </div>
    </section>
    <!-- end: Section -->

    <div th:replace="fragments/footer :: footer"></div>

</div>    <!-- end: Wrapper -->

<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

<!--Plugins-->
<div th:replace="fragments/footer :: scripts"></div>
<div th:insert="fragments/search-and-page::script"></div>

</body>
</html>
